.nav {
    display: flex;
    color: rgb(238, 234, 227);
    /* cursor: pointer; */
    padding: 10px;
    padding-left: 20px;
    overflow-x: scroll;

}
.nav >h2{
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    /* font-size: x-large; */
    opacity: 0.7;
    transition: transform 50ms ease-out;
}
.nav>h2:hover{
    opacity: 1;
    transform: scale(1.09);
}
/* hiding the scroll bar for different browsers */
.nav::-webkit-scrollbar{
    display: none;
}
.nav{
    -ms-overflow-style:none;
    scrollbar-width: none;
}